spring:
  application:
    name: ecoCampus-server

  profiles:
    active: dev

  datasource:
    url: jdbc:h2:mem:ecodb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    open-in-view: false
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        jdbc:
          time_zone: Asia/Seoul

  jackson:
    serialization:
      fail-on-empty-beans: false
    time-zone: Asia/Seoul

server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

logging:
  level:
    root: info
    org.springframework.web: debug
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace

springdoc:
  swagger-ui:
    path: /swagger-ui/index.html
    disable-swagger-default-url: true
    display-request-duration: true
    operations-sorter: alpha
